span{
    margin-right: 10px;
}

ion-list,  ion-list ion-item{
    padding: 0 !important;
    // font-size: 0.8em !important;
}

ion-list ion-item img{
    width: 15px !important;
    height: 20px !important;
    margin-right: 5px;
}