<ion-content class="ion-padding warning-gradient">
  <div style="position: relative;height: 50px;">
    <ion-button fill="clear" style="position: absolute;
  left: 0px;
  padding: 10px;" routerLink="/login">
      <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
    </ion-button>
  </div>

  <div style="position: relative;">
    <div class="ion-text-center margin-top-15vh ion-padding-bottom" style="width: 60%;
    margin: auto;">
      <img src="assets/imgs/logo zapp.png" style="width: 150px;">
    </div>
  </div>
  <div style="margin-top:15%">
    <h4 style="text-align: center;">¿Olvidaste tu contraseña?</h4>
    <form [formGroup]="email_data" (submit)="sendEMail()" novalidate>
      <p class="ion-margin-top">
        Ingrese su dirección de correo electrónico a continuación y le enviaremos un enlace para restablecer la
        contraseña</p>
      <ion-item lines="none" class="input-text ion-margin-top">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-input placeholder="Correo Electrónico" formControlName="email" required></ion-input>
      </ion-item>
      <ion-item lines="none" class="danger-color-text"
        *ngIf=" controls.email.dirty && controls.email.touched && controls.email.errors">
        <ion-icon name="alert-circle" slot="start" class="danger-color-text"></ion-icon>
        <ion-label *ngIf="controls.email.errors.required">Email es requerido</ion-label>
        <ion-label *ngIf="controls.email.errors.email">Debe ser un email válido</ion-label>
      </ion-item>

      <ion-button type="submit" expand="block" mode="ios" color="primary" class=" ion-margin-top">
        Continuar
      </ion-button>
    </form>
  </div>


</ion-content>