.inputSearch {
  display: block;
  width: 100%;
  background-color: white;
  padding: 8px I !important;
  border: 0.5px solid #49158c;
  border-radius: 20px;
  /* border: rgba(0, 0, 0, 0.1) 1px solid; */
  outline: none !important;
    
  }