.selected {
    color: #000000 !important;
    font-weight: bold;
}

.heigth-1 {
    margin-right: 0;
    margin-left: 0;
    height: 90%;
    margin: 0;
    padding: 0;
    max-height: 100%;
    width: 100%;
}

.heigth-2 {
    margin-right: 0;
    margin-left: 0;
    height: 90%;
    margin: 0;
    padding: 0;
    max-height: 100%;
    width: 100%;
}