<ion-content>
  <div class="row justify-content-center ion-text-center" style="margin-top: 20%;">
    <div class="col-md-11 col-lg-10 col-xl-8">
      <span style="
            background: #eeeeee;
    color: gray;
    /* padding-right: 90px; */
    /* padding-left: 90px; */
    padding: 0 16px;
    border-radius: 30px;
    font-size: 1.2em;
    display: block;
    width: 100%;
    text-align: inherit;
    margin:10px auto 0 auto;

        ">Seleccionar método de pago</span>
    </div>
    <div style="width: 80%;">
      <ion-grid>
        <ion-row>
          <ion-col size="6" style="height: 50px; text-align: right;">
            <ion-button style="width: 100%;height: 100%;" [color]="payment_method=='efectivo'? 'primary':'light'" (click)="selectPaymentMethod('efectivo')">
              <ion-icon name="metodo-de-pago"></ion-icon><ion-label style="    font-size: smaller;
              font-family: 'GILROY-EXTRABOLD' !important;
              text-transform: capitalize;">Efectivo</ion-label>
            </ion-button>
          </ion-col>
          <ion-col size="6" style="height: 50px;">
            <ion-button [color]="payment_method=='efectivo'? 'light':'primary'" style="width: 100%; height: 100%;" (click)="selectPaymentMethod('Wompi')">
      
              <ion-icon name="tarjeta-de-debito" style="    font-size: 2em;"></ion-icon><ion-label style="     font-size: smaller;
              font-family: 'GILROY-EXTRABOLD' !important;
              text-transform: capitalize;
          ">Otros métodos</ion-label>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </div>
    <div style="width:80%;margin: 0 auto 5px auto;">
      <h5 class="ion-text-center" style="margin-top:0">¿Tiene un cupón para redimir?</h5>
      <ion-item lines="none" style="border: 2px solid #49158c;
      border-radius: 20px;" [ngClass]="{'invalid': error}">
        <ion-input placeholder="Ingresa tu cupón" (keyup)="keyUp()"  [(ngModel)]="coupon"></ion-input>
        <ion-button mode="ios" slot="end" color="primary" (click)="applyCoupon()"><label *ngIf="!loading">APLICAR </label><ion-spinner *ngIf="loading" style="    height: 20px;
        "></ion-spinner></ion-button>
      </ion-item>
      
    </div>
    <div mat-line style="
                            text-align: right;
                            background-color: #48158e;
                            color: white;
                            font-size: 15px;
                            border-radius: 14px;
                            padding: 7px;
                            width: 80%;
                            margin: auto;
                            font-family: Gilroy-Light;
                          ">
  <span style="
                              float: left;
                              font-size: 15px;
                              font-family: Gilroy-Light;
                            ">
    <strong>Total:</strong>
  </span>
  <strong>{{ quotation.total | currency:'':'symbol':'1.0' }}</strong>
</div>

  </div>
</ion-content>