.button-orange {
    
    color: orange;
}

.button-yellow {
    
    color: #DDDF00;
}

.button-green {
    
    color: green
}

.button-red {
    
    color: red;
}

.button-gray {
    
    color : #CE4257;
}

.button-cancel {
    
    color:#95B2B0 ;
}