.driver-item{
    width: 90%;
    /* border: solid 2.5px #929095; */
    padding: 0;
    margin: 10px auto;
    color: white;
    --background: #49158c;
    border-radius: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.driver-item ion-button{
    color:white
}