<ion-content class="ion-padding warning-gradient">
  <div class="ion-text-center margin-top-15vh ion-padding-bottom" style="width: 60%;
  margin: auto;">
    <img src="assets/imgs/logo-morado.png" style="width: 150px;">
  </div>
  <div style="text-align: center;
  /* margin-top: 25%; */
  width: 70%;
  margin: auto;
  margin-top: 25%;" class="grey-color">
    A tu correo enviamos la nueva contraseña que necesitas para ingresar nuevamente
  </div>
  <ion-button  expand="block" mode="ios" color="primary" class=" ion-margin-top" routerLink="">
    Regresar al inico
  </ion-button>

</ion-content>